{% load staticfiles %}
<head>
    <title>Video</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-light">
		<ul class="navbar-nav">
			{% if username %}
				<li class="nav-item"><a href="/log/out/">Выйти ({{ username }})</a></li>
			{% else %}
				<li class="nav-item"><a href="/log/in/">Войти</a></li>
			{% endif %}
		</ul>
    </nav>

    <div class="container">
        <a  href="/">Main</a><br>
    {% block main %}{% endblock %}
    {% block myself %}{% endblock %}
    {% block Eminem %}{% endblock %}
    {% block onevideo %}{% endblock %}
    {% block login %}{% endblock %}
    </div>
</body>
</html>